/* Styling for the autocomplete keyword search box */

.autocomplete-suggestions {
  text-align: left;
  cursor: default;
  border: 1px solid #ccc;
  border-top: 0;
  background: #fff;
  box-shadow: -1px 1px 3px rgba(0, 0, 0, .1);
  /* core styles should not be changed */
  position: absolute;
  display: none;
  z-index: 9999;
  max-height: 254px;
  overflow: hidden;
  overflow-y: auto;
  box-sizing: border-box;
}

.autocomplete-suggestion {
  position: relative;
  padding: 0 .6em;
  line-height: 23px;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 1.02em;
  color: #333;
}

.autocomplete-suggestion b {
  font-weight: normal;
  color: #1f8dd6;
}

.autocomplete-suggestion.selected {
  background: #f0f0f0;
}


/* Remove marketplace cover picture for visitors */

.marketplace-lander figure.marketplace-cover {
  background-image: none;
  height: 0;
}


/* Seperator */

.or-spacer {
  margin-top: 70px;
  width: 100%;
  position: relative;
}

.marketplace-lander-content>p {
  display: none;
}

.mask {
  overflow: hidden;
  height: 20px;
}

.mask:after {
  content: '';
  display: block;
  margin: -25px auto 0;
  width: 100%;
  height: 25px;
  border-radius: 125px / 12px;
  box-shadow: 0 0 8px black;
}


/* ENDE */

.marketplace-lander-content-title {
  display: none;
}

.bg-grey {
  background-color: #f3f3f3;
}

.padding-small {
  padding-top: 60px;
  padding-bottom: 60px;
}

.container {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .container {
    width: 750px;
  }
}

@media (min-width: 992px) {
  .container {
    width: 970px;
  }
}

@media (min-width: 1200px) {
  .container {
    width: 1170px;
  }
}

.container-fluid {
  margin-right: auto;
  margin-left: auto;
  padding-left: 15px;
  padding-right: 15px;
}

.row_col {
  margin-left: -15px;
  margin-right: -15px;
}

.col-xs-1, .col-sm-1, .col-md-1, .col-lg-1, .col-xs-2, .col-sm-2, .col-md-2, .col-lg-2, .col-xs-3, .col-sm-3, .col-md-3, .col-lg-3, .col-xs-4, .col-sm-4, .col-md-4, .col-lg-4, .col-xs-5, .col-sm-5, .col-md-5, .col-lg-5, .col-xs-6, .col-sm-6, .col-md-6, .col-lg-6, .col-xs-7, .col-sm-7, .col-md-7, .col-lg-7, .col-xs-8, .col-sm-8, .col-md-8, .col-lg-8, .col-xs-9, .col-sm-9, .col-md-9, .col-lg-9, .col-xs-10, .col-sm-10, .col-md-10, .col-lg-10, .col-xs-11, .col-sm-11, .col-md-11, .col-lg-11, .col-xs-12, .col-sm-12, .col-md-12, .col-lg-12 {
  position: relative;
  min-height: 1px;
  padding-left: 15px;
  padding-right: 15px;
}

@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}

.clearfix:before, .clearfix:after, .container:before, .container:after, .container-fluid:before, .container-fluid:after, .row_col:before, .row_col:after {
  content: " ";
  display: table;
}

.clearfix:after, .container:after, .container-fluid:after, .row_col:after {
  clear: both;
}

.center-block {
  display: block;
  margin-left: auto;
  margin-right: auto;
}

.pull-right {
  float: right !important;
}

.pull-left {
  float: left !important;
}

.text-hide {
  font: 0/0 a;
  color: transparent;
  text-shadow: none;
  background-color: transparent;
  border: 0;
}


/* Standart Elemente */

body {
  font-family: 'Open Sans', helvetica, sans-serif;
  font-size: 15px;
  font-weight: 300;
  margin: 0;
}

p {
  line-height: 1.4em;
}

h1, h2, h3, h4, h5, h6 {
  font-family: 'Hind', helvetica, sans-serif;
}

h1 {
  font-size: 34px;
  color: #474747;
  font-weight: 400;
  line-height: 1.4em;
}

h2 {
  font-size: 32px;
  color: #474747;
  line-height: 1.2em;
}

h3 {
  font-size: 24px;
  color: #474747;
  line-height: 1.2em;
  font-weight: 300;
}

.error {
  color: #ff0000;
  font-size: 12px;
  margin-top: 5px;
  margin-bottom: 0;
}

.inputTxtError {
  border: 1px solid #ff0000;
  color: #0e0e0e;
}


/* Promo
Seite */

hr {
  height: 0;
  -webkit-box-sizing: content-box;
  -moz-box-sizing: content-box;
  box-sizing: content-box;
  margin-top: 10px;
  margin-bottom: 10px;
  border: 0;
  border-top: 1px solid #fff;
}

.error {
  color: red;
  padding-top: 10px;
}

#custom_fields_22185 {
  max-width: 7.5em;
  /* same as price-field class that cannot be added to input tag */
}


/* Buttons Promo */

.btn-primary {
  /* background-image:
    linear-gradient(to top, #843c4a 0%, #a64c5d 60%); */
  font-weight: 600;
  font-size: 15px;
  border-color: #d83419;
  background: #d83419;
}

.btn-block {
  display: block;
  width: 100%;
}

.btn-primary:hover {
  background: #b52c15;
  font-weight: 600;
  font-size: 15px;
  border-color: #b52c15;
}

.form-control {
  display: block;
  width: 100%;
  height: 34px;
  padding: 6px 12px;
  font-size: 14px;
  line-height: 1.42857143;
  color: #555;
  background-color: #fff;
  background-image: none;
  border: 1px solid #ccc;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  box-shadow: inset 0 1px 1px rgba(0, 0, 0, .075);
  -webkit-transition: border-color ease-in-out .15s, -webkit-box-shadow ease-in-out .15s;
  -o-transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
  transition: border-color ease-in-out .15s, box-shadow ease-in-out .15s;
}

.featured_product {
  border: 1px solid #ccc !important;
  margin-top: 30px;
}

.featured_product_details {
  background-color: #fff;
  border-top: 1px solid #ccc;
  padding-top: 5px;
  padding-bottom: 5px;
}

.featured_product_details_avatar {
  margin-top: 5px;
  margin-left: 10px;
  text-align: right;
}

.featured_product_details_title {
  color: #d83419;
  font-size: 15px !important;
  -webkit-margin-before: 0;
  -webkit-margin-after: 0;
  -webkit-margin-start: 0;
  -webkit-margin-end: 0;
  font-weight: 600;
}

.featured_product_details_description {
  margin-top: 10px;
  font-size: 15px !important;
  color: #666;
}

.featured_product_details_avatar>img {
  border-radius: 100px;
}

.enabled-book-button {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

.btn {
  display: inline-block;
  padding: 8px 32px;
  margin-bottom: 0;
  font-size: 14px;
  font-weight: 400;
  line-height: 1.42857143;
  text-align: center;
  white-space: nowrap;
  vertical-align: middle;
  -ms-touch-action: manipulation;
  touch-action: manipulation;
  cursor: pointer;
  -webkit-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
  background: #d83419;
  border: 1px solid transparent;
  border-radius: 30px;
  color: #fff;
  text-decoration: none;
}

.btn:hover {
  color: #f3f3f3;
  opacity: 0.8;
}

button, .button {
  background: #d83419;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  font-weight: 600;
}

.home-toolbar-button-group-button.selected {
  background-color: #d83419;
  border-color: #d83419;
}

a {
  color: #d83419;
}

.home-categories-link, .home-categories-main, .home-categories-sub {
  text-transform: none;
}

.toggle-menu a:hover, .toggle-menu .toggle-menu-link:hover {
  background: #d83419;
}

.noUi-connect {
  background: #d83419;
}

.new-listing-link {
  -webkit-border-radius: 0.2em;
  -moz-border-radius: 0.2em;
  -ms-border-radius: 0.2em;
  -o-border-radius: 0.2em;
  border-radius: 0.2em;
  font-weight: 600;
  color: #137c44;
  border: 1px solid #137c44;
  background: #fff;
  overflow: visible !important;
  max-width: initial !important;
}

.home-fluid-thumbnail-grid-author-avatar-image {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}

.home-toolbar-button-group-button:first-child {
  -moz-border-radius-topleft: 0.2em;
  -webkit-border-top-left-radius: 0.2em;
  border-top-left-radius: 0.2em;
  -moz-border-radius-bottomleft: 0.2em;
  -webkit-border-bottom-left-radius: 0.2em;
  border-bottom-left-radius: 0.2em;
}

.home-toolbar-button-group-button:last-child {
  -moz-border-radius-topright: 0.2em;
  -webkit-border-top-right-radius: 0.2em;
  border-top-right-radius: 0.2em;
  -moz-border-radius-bottomright: 0.2em;
  -webkit-border-bottom-right-radius: 0.2em;
  border-bottom-right-radius: 0.2em;
}

.people-image>img {
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  -ms-border-radius: 300px;
  -o-border-radius: 300px;
  border-radius: 300px;
  width: auto;
  max-height: 200px;
}

.testimonial-avatar>a, .testimonial-avatar>a>img {
  -webkit-border-radius: 300px;
  -moz-border-radius: 300px;
  -ms-border-radius: 300px;
  -o-border-radius: 300px;
  border-radius: 300px;
}

.people-image {
  text-align: center;
}

.center {
  text-align: center;
}

.green {
  color: #137c44;
}

.orange {
  color: #d83419;
}

.orange-icon-round {
  color: #fff;
  background-color: #d83419;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 160px;
  height: 160px;
  line-height: 2em;
}

.orange-icon-round-small {
  color: #fff;
  background-color: #d83419;
  border-radius: 50%;
  -webkit-border-radius: 50%;
  -moz-border-radius: 50%;
  -ms-border-radius: 50%;
  -o-border-radius: 50%;
  width: 120px;
  height: 120px;
  line-height: 2.5em;
}

.fa-li {
  line-height: 1.8em;
}

.people-listings.fluid-thumbnail-grid-image-overlay, .people-listings.fluid-thumbnail-grid-image-image {
  -webkit-border-radius: 0px;
  -moz-border-radius: 0px;
  -ms-border-radius: 0px;
  -o-border-radius: 0px;
  border-radius: 0px;
}

.fluid-thumbnail-grid-image-price {
  font-size: 22px;
}

.home-fluid-thumbnail-grid-author {
  -moz-border-radius-bottomleft: 5px;
  -webkit-border-bottom-left-radius: 5px;
  border-bottom-left-radius: 5px;
  -moz-border-radius-bottomright: 5px;
  -webkit-border-bottom-right-radius: 5px;
  border-bottom-right-radius: 5px;
  background-color: #fff;
  height: 48px;
  position: relative;
}

.embed-responsive {
  position: relative;
  display: block;
  height: 0;
  padding: 0;
  overflow: hidden;
}

.embed-responsive .embed-responsive-item, .embed-responsive iframe, .embed-responsive embed, .embed-responsive object, .embed-responsive video {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 100%;
  border: 0;
}

.embed-responsive-16by9 {
  padding-bottom: 56.25%;
}

.embed-responsive-4by3 {
  padding-bottom: 75%;
}

.header-user-avatar {
  -webkit-border-radius: 30px !important;
  -moz-border-radius: 30px !important;
  -ms-border-radius: 30px !important;
  -o-border-radius: 30px !important;
  border-radius: 30px !important;
}

.noUi-handle {
  border-radius: 30px;
}

.header-menu-toggle-container {
  background: #fff;
}

input[type=text], input[type=password], input[type=number], textarea {
  border: 1px solid #dadada;
}

.form-group {
  margin-bottom: 15px;
}


/* LISTINGS page: remove white background of centered listing pictures*/

.listing-image-frame {
  background: white;
}

.listing-author-avatar-image {
  -webkit-border-radius: 60px;
  -moz-border-radius: 60px;
  -ms-border-radius: 60px;
  -o-border-radius: 60px;
  border-radius: 60px;
}

.listing-image-thumbnail-stripe {
  margin-top: 20px;
}

.home-fluid-thumbnail-grid-author-name {
  display: none;
}

.home-fluid-thumbnail-grid-author-avatar {
  padding: 0px;
  margin-right: 5%;
  float: right;
  border: 2px solid #fff;
  border-radius: 30px;
  margin-top: -22px;
}

.marketplace-lander button.action-button {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

.book-button {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  background: #d83419;
  background: -moz-linear-gradient(top, #fb9521 0, #c22e16 100%);
  background: -webkit-gradient(linear, left top, left bottom, color-stop(0%, #fb9521), color-stop(100%, #c22e16));
  background: -webkit-linear-gradient(top, #fb9521 0, #c22e16 100%);
  background: -o-linear-gradient(top, #fb9521 0, #c22e16 100%);
  background: -ms-linear-gradient(top, #fb9521 0, #c22e16 100%);
  background: linear-gradient(top, #fb9521 0, #c22e16 100%);
  filter: progid: DXImageTransform.Microsoft.gradient(startColorstr=#fb9521, endColorstr=#c22e16, GradientType=0);
}

.listing-author-contact-button {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  font-weight: 600;
}

.conversation-avatar {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}

.message-avatar-image {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}

.home-list-avatar img, .browsing-list-item-avatar img {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  -ms-border-radius: 30px;
  -o-border-radius: 30px;
  border-radius: 30px;
}

.home-list-price, .browsing-list-item-price {
  text-align: right;
  font-weight: 700;
}

.home-list-price-value {
  font-size: 22px;
}

.home-list-price-quantity, .browsing-list-item-price-quantity {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  font-size: 14px;
}

.home-list-author-details, .browsing-list-item-author-details {
  line-height: 34px;
}

@media (min-width: 48em) {
  .home-list-title, .browsing-list-item-title {
    font-size: 1.2em;
  }
}

.big-button, .inline-big-button {
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
}

.new-listing-form a.select, .edit-listing-form a.select {
  position: relative;
  display: block;
  width: 100%;
  -webkit-border-radius: 30px;
  -moz-border-radius: 30px;
  border-radius: 30px;
  border: 1px solid #c3c3c3;
}

.home-categories-link.selected, .selected.home-categories-main, .selected.home-categories-sub {
  border-bottom: 1px solid #e8e8e8;
}

.marketplace-lander .marketplace-cover {
  -webkit-transition: background 1s ease-in-out 1s;
  -moz-transition: background 1s ease-in-out 1s;
  -o-transition: background 1s ease-in-out 1s;
  -ms-transition: background 1s ease-in-out 1s;
  transition: background 1s ease-in-out 1s;
}


/* FOOTER */

.footer-wrap {
  background: #efefef;
}

.footer-container {
  max-width: 63em !important;
}

.footer-container li {
  list-style-type: none;
  padding-bottom: 10px;
  margin: 0px;
}

.footer-container h4 {
  font-size: 16px;
  font-weight: 600;
  margin-top: 30px;
  line-height: 3em;
  color: #4d4d4d;
  text-transform: uppercase;
}

.footer-container p, .footer-container a {
  color: #808080;
  font-size: 15px;
  line-height: 1.76em;
  font-weight: 400;
}

.footer-container a:hover {
  color: #d83419;
}

.footer-container ul {
  -webkit-margin-before: 0em;
  -webkit-margin-after: 0em;
  -webkit-margin-start: 0px;
  -webkit-margin-end: 0px;
  -webkit-padding-start: 0;
  padding-left: 0;
}

@media (min-width: 768px) {
  .footer-pcol {
    padding-left: 50px;
  }
}

/* FOOTER END */
